In [12]:
import pandas as pd

I chose to work on the city of Lyon that I know. Let's say you want to open a restaurant in this city which is the third largest in France, how could the data from [Foursquare](http://www.foursquare.com) help your decision regarding the location of this restaurant?

Considering the data at hand, I decided to focus on the relative locations. The success of a restaurant depends a lot of where it is, ideally in a place with low competition and many potential customers. To that end I got from Foursquare the data of four categories of places: food (`Food`, in red in the maps bellow, aka your competition), fun (`Arts & Entertainment`, in green), school (`College & University`, in blue), transport (`Travel & Transport`, in yellow) and business (`Business Center`, in purple). 

Let's see the overall distribution of these places in Lyon.

![map1](week_4_map1.jpg)

The first thing to notice is that the data are far from being exhaustive. There's only one place identified in the transport category, namely the "gare de Lyon" train station, when there's another train station as big which is not found, the "Perrache" train station. I decide to simply ignore the transport category.

With a missing train station, it's likely that many places from the remaining categories are also missing. Yet the missing places may be evenly distributed, and therefore the distribution of the known places could be representative of the overall distribution. So let's work with them.

It appears that out of the known restaurants, most are in the city center. This seems to leave alone many places related to fun, school and business without any known restaurant nearby. We must be very careful here because there may be a bias that would make the restaurants in the city center to be more prone to be known by Foursquare. But let's assume that this is indeed representative of the overall reallity. So most of restaurants are in the center, and some places in the periphery with many potential customers for your soon to open restaurant are for now rather far from any restaurant.

We can compute for every place the distance from the nearest restaurant. Here's the first lines of this computation, sorted starting with the farthest. Distances are in meters. Full data available here: [school](week_4_school.csv), [fun](week_4_fun.csv) and [business](week_4_business.csv).

In [13]:
pd.read_csv('week_4_school.csv').head()

,Unnamed: 0,Name,Address,Latitude,Longitude,distance_from_food
0,0,College Zimmerman,NaN,45.767366,4.821505,2386.719074
1,1,Passerelle du Collège,Passerelle du Collège,45.765607,4.840330,2252.339870
2,2,Le College,NaN,45.765092,4.828402,1710.682840
3,3,"Station Collège Bellecombe [T1,T4]",165 Avenue Thiers,45.766623,4.861876,1666.643237
4,4,Collège Chevreul,21 rue Sala,45.756144,4.829077,1288.780509

In [14]:
pd.read_csv('week_4_fun.csv').head()

,Unnamed: 0,Name,Address,Latitude,Longitude,distance_from_food
0,27,Electronic Arts,Rue Joannes Carret,45.788744,4.813962,2230.375467
1,25,Pharmacie Des Arts,29 rue de la Doua,45.776606,4.874590,2123.487243
2,21,E.N.S.A.T.T Ecole Nationale Supérieure Arts et...,2 Rue Soeur Bouvier,45.754387,4.811572,1207.457129
3,11,Le Géant des Beaux-Arts Lyon,12 Rue Clément Marot,45.736916,4.833399,1206.223569
4,32,Big Ben Art Show,38 Grande Rue De Vaise,45.773970,4.808084,981.343609

In [15]:
pd.read_csv('week_4_business.csv').head()

,Unnamed: 0,Name,Address,Latitude,Longitude,distance_from_food
0,0,Optical Center LYON - BOURSE,4 Rue de la Bourse,45.765664,4.836646,2416.832926
1,39,Conduite Center,NaN,45.761937,4.881746,2321.689743
2,10,Optical Center LYON - JEAN-JAURÈS,45-47 Avenue Jean Jaurès,45.750169,4.845050,2164.116547
3,3,Business Assistant Online,26 Rue d'Essling,45.755222,4.856711,1863.967233
4,4,Audioprothésiste LYON - BOURSE Optical Center,4 Rue de la Bourse,45.765665,4.836618,1705.286150

It appears that there is no shortage of places up to 2 kms away from any restaurant. Let's value these places proportionaly to their distance to the nearest restaurant. The map bellow is the same map than the map above, but the size of a dot reflect that value.

![map2](week_4_map2.jpg)

This map, and it's going to conclude this study, lets clearly appear the many places in the periphery that would be perfect for your restaurant since there is no competion there, sometimes for miles away. But make sure you confirm that result with more comprehensive data before investing your money.